:root {
    --background: rgb(255, 255, 255);
    --calculator: rgb(83, 83, 83);
    --font-primary: rgb(255, 255, 255);

    --button-primary: rgb(125, 125, 125);
    --button-secondary: rgb(100, 100, 100);
    --button-action: rgb(255, 160, 6);
    --button-hover: rgb(68, 68, 68);
}
